/*shared colors*/
:root {
    --accent-color: #bebebe;
    --background-color: #d3d3d3;
    --button-color: #4b4b4b;
  }

/*|| HEADING */

/*body*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

/* every screen to center */
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*copyright stuff*/
footer{
  position:absolute;
  bottom:0;
  width:100%;
}

/*|| HEADING */

/*button + line*/
.navButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*button to go to other page*/
.navButton button{
  display: inline-flex;
  padding: 5px;
  width: auto;
  font-size: 16px;
  border-style: solid;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  margin: 3px;
  background-color: var(--background-color);
}

/* topbar line */
.navButton .topbar {
  width: 100%;
  height: 10px;
  margin-top: 5px;
  background-color: var(--accent-color);
  margin-bottom: 5px;
}